.account {
  grid-area: user;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}

.account__close-button {
  width: 60px;
  height: 60px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
