.card {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 88%;
  min-width: 260px;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  .padding-mobile;
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: @white;

  @media (min-width: @tablet-width) {
    min-width: 349px;
    padding: 48px 28px 28px;
    
  }
}

.card__link {
  display: flex;
  flex-direction: column;
  color: @base-black;
  text-decoration: none;
}

.card__img {
  margin-right: auto;
  margin-bottom: 23px;
  margin-left: auto;

  @media (min-width: @tablet-width) {
    margin-bottom: 31px;
  }
}

.card__title {
  margin-bottom: 4px;
  text-align: left;

  @media (min-width: @tablet-width) {
    margin-bottom: 9px;
  }
}
.card__description {
  margin-top: 0;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 22px;
  }
}

.card__price {
  margin-top: 4px;
  margin-right: auto;
}

.card__inner-container {
  display: flex;
  flex-wrap: wrap;
}

.card__button {
  padding: 8px 24px 8px 46px;
  font-size: 14px;
  line-height: 20px;
}
