.card {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 70%;
  min-width: 200px;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  .padding-mobile;
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: @white;

  @media (min-width: @tablet-width) {
    min-width: 349px;
  }
}

.card__link {
  display: flex;
  flex-direction: column;
  color: @base-black;
  text-decoration: none;
}

.card__img {
  margin-right: auto;
  margin-left: auto;
}

.card__description {
  text-align: left;
}

.card__price {
  margin-right: auto;
}

.card__inner-container {
  display: flex;
  flex-wrap: wrap;
}

.card__button {
  padding: 8px 24px 8px 46px;
  font-size: 14px;
  line-height: 20px;
}
