.developer {
  .padding-mobile;
  padding-top: 17px;
  padding-bottom: 30px;

  @media (min-width: @tablet-width) {
    padding-top: 17px;
    padding-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    grid-area: dev;
  }
}

.developer__link {
  display: block;
  padding-right: 22px;
  padding-left: 22px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: @grey;
  text-decoration: none;
}


.developer__icon {
  fill: @grey;
}