.filters {
  display: flex;
  flex-direction: column;
  max-width: @max-width-mobile;
  @media (min-width: @desktop-width) {
    grid-area: filters;
  }
}

.filters__group {
  display: flex;
  flex-direction: column;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  min-inline-size: 280px;
  border: none;
}

.filters__legend {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.filters__label {
  position: relative;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 24px;
}


.filters__button {
  width: 100%;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: @violett;
  background-color: @white;
  border: none;
}

.filters__wrapper {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
  }
}


// form__control form__control--radio
.filters__input-radio {
  position: relative;
  .visually-hidden;
}
.filters__control-radio {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  display: block;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  background-color: @white;
  border: 2px solid @violett;
  border-radius: 50%;

  // &:hover {
  //   border: 1px solid #bababa;
  // }

  // &:focus {
  //   outline: 1px solid @grey-light;
  // }
}

//для радио-кнопки checked
.filters__control-radio::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: @violett;
  border-radius: 50%;
  display: none;
}


.filters__input-radio:checked + .filters__control-radio::before {
  display: block;
}