.header {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  grid-template-areas:
  "logo . user"
  "nav nav nav"
  ;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
    "logo nav user"
  }

}


.header__container {
  grid-area: logo;
  width: 75px;
  box-sizing: border-box;
  padding: 13px 20px;
}

.header__logo-img{
  display: block;
  margin: 0;

  @media (min-width: @tablet-width) {
    width: 82px;
    height: 36px;
  }

  @media (min-width: @desktop-width) {
    width: 170px;
    height: 36px;
  }
}

.header__tagline {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

