.info {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: @desktop-width) {
    grid-area: info;
  }
}

.info__container {
  display: flex;
  flex-direction: column;
  padding: 19px 20px;
  border-bottom: 1px solid @lavender;

  @media (min-width: @tablet-width) {
    padding-bottom: 10px;
    border-bottom: none;
  }
}

.info__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: @violett;
}

.info__title--contacts {
  margin-bottom: 22px;
}

.info__link {
  padding-top: 10px;
  padding-bottom: 10px;
}
.info__address {
  margin-bottom: 16px;
  padding-left: 18px;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  background-repeat: no-repeat;
  background-image:  url("../img/pin.svg");
}

.info__phone {
  padding-left: 18px;
  font-size: 14px;
  line-height: 20px;
  color: @base-black;
  text-decoration: none;
  background-repeat: no-repeat;
  background-image:  url("../img/phone.svg");
}
