.map {
  height: 420px;
  background-color: @lavender-latte;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/map-mobile.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    height: 480px;
    margin-bottom: 22px;
    background-image: url("../img/map-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    grid-area: map;
    height: 540px;
    background-image: url("../img/map-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }

}
