.navigation {
  grid-area: nav;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.navigation__link {

}


.navigation__link-name {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

