.pagination {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    .padding-mobile;
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    grid-area: pagination;
  }
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    justify-content: flex-end;
  }
}

.pagination__button {
  display: block;
  box-sizing: border-box;
  min-width: 40px;
  max-width: 80px;
  margin-right: 20px;
  padding: 8px;
  text-align: center;
  background-color: @white;
  border-radius: 4px;
}

.pagination__button:last-child {
  margin-right: 0;
}


.pagination__link {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: @base-black;
  text-decoration: none;
}


.pagination__word-button {
  display: none;
}

.pagination__icon {
  fill: @violett;
}

.pagination__icon--next {
  transform: rotate(180deg);
}