.pagination__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    justify-content: flex-end;
  }

  @media (min-width: @desktop-width) {
    grid-area: pagination;
  }
}

.pagination__button {
  display: block;
  box-sizing: border-box;
  min-width: 40px;
  max-width: 80px;
  margin-right: 20px;
  padding: 8px;
  text-align: center;
   //???
}

.pagination__button:last-child {
  margin-right: 0;
}


.pagination__link {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: @base-black;
  text-decoration: none;
}
