.promo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  .padding-mobile;
  padding-top: 20px;
  padding-bottom: 60px;
  background-color: @flat-white;

  @media (min-width: @tablet-width) {
    box-sizing: border-box;
    min-height: 640px;
    padding-top: 60px;
    padding-bottom: 467px;
  }


  @media (min-width: @desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.promo::after {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 188px;
    background-color: @white;
  }
}

.promo__container-size {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo__description {
  margin-bottom: 20px;
  text-align: center;
}

.promo__inner-container {
  display: flex;
}

.promo__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;

  @media (min-width: @tablet-width) {
    order: -1;
  }

  @media (min-width: @desktop-width) {
    align-items: flex-start;
    order: 0;
  }
}


.promo__img {
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
   position: absolute;
   bottom: 0;
   z-index: 1;
   width: 467px;
   height: 467px;
  }
}

.promo__label{
  margin-bottom: 4px;
}

.promo__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.02em;

  @media (min-width: @tablet-width) {
    margin-bottom: 10px;
  }
}

.promo__button {
  box-sizing: border-box;
  max-width: 150px;
  padding: 8px 20px;
  line-height: 24px;
}

.promo__old-price {
  margin-right: 6px;
}

.promo__price {
  margin-right: 20px;
}
